# Virtual Environment
myenv3/

# Model files
models/

# Python bytecode
*.pyc
*.pyo
*.pyd
__pycache__/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE/editor files
.vscode/
.idea/

# Logs
*.log


# Environment variable files
.env

# Python distribution files
*.egg
*.egg-info
dist/
build/

